<!DOCTYPE html>
<html>
<head>
    <meta charset=UTF-8">
    <meta name="viewport" content="width=360, initial-scale=0.75 user-scalable=no">
    <title>中华蒲氏文化研究会</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">中华蒲氏文化研究会</a>
            </div>

        </div>
</nav>

<div id="wrap">
    <div class="container" id="main">
        <div class="row">
            <!-- left start -->
            <!--<div class="col-md-8" id="left">
                {% block main %}

                <div class="panel panel-default">
	                <div class="panel-heading title-breadcrumb">中华蒲氏文化研究会简介</div>

	                <div class="panel-footer"></div>


                </div>

            {% endblock %}

            </div>
            -->

        <div class="col-md-8" id="left">

                <!-- title start -->
                {% block test %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">中华蒲氏文化研究会简介</h3>
                    </div>
                    <div class="panel-body">
                        <p text-indent:2em> 北京航空航天大学（简称北航）成立于1952年，由当时的清华大学、北洋大学、厦门大学、四川大学等八所院校的航空系合并组建，是新中国第一所航空航天高等学府，现隶属于工业和信息化部。学校分为学院路校区和沙河校区，占地3000亩，总建筑面积150余万平方米.
                        </p>
                         <p text-indent:2em> 北京航空航天大学（简称北航）成立于1952年，由当时的清华大学、北洋大学、厦门大学、四川大学等八所院校的航空系合并组建，是新中国第一所航空航天高等学府，现隶属于工业和信息化部。学校分为学院路校区和沙河校区，占地3000亩，总建筑面积150余万平方米.
                        </p>
                         <p text-indent:2em> 北京航空航天大学（简称北航）成立于1952年，由当时的清华大学、北洋大学、厦门大学、四川大学等八所院校的航空系合并组建，是新中国第一所航空航天高等学府，现隶属于工业和信息化部。学校分为学院路校区和沙河校区，占地3000亩，总建筑面积150余万平方米.
                        </p>
                         <p text-indent:2em> 北京航空航天大学（简称北航）成立于1952年，由当时的清华大学、北洋大学、厦门大学、四川大学等八所院校的航空系合并组建，是新中国第一所航空航天高等学府，现隶属于工业和信息化部。学校分为学院路校区和沙河校区，占地3000亩，总建筑面积150余万平方米.
                        </p>
                    </div>
                </div>
                {% endblock %}
            <!-- left end -->
        </div>
            <!-- right start -->
            <div class="col-md-4" id="right">

                <!-- title start -->
                {% block title %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">章程</h3>
                    </div>
                    <div class="panel-body">
                        <p>第一章 总则</p>
                        <p>第二章 为规范公司的行为，保障公司股东的合法权益</p>
                        <p>第三章 公司名称</p>
                        <p>第四章 公司住所</p>
                        <p>第五章 公司由共同投资组建。</p>
                        <p>第六章 公司依法在工商行政管理局登记注册。</p>
                        <p>第七章 公司为有限责任公司，实行独立核算，自主经营，自负盈亏。</p>
                        <p>第八章 公司坚决遵守国家法律、法规及本章程规定，维护国家利益和社会公共利益，接受政府有关的监督。</p>

                    </div>
                </div>
                {% endblock %}
                <!-- title start -->

                <!-- login start -->


            </div>
            <!-- right end -->

        </div><!--  outter row end -->
    </div><!-- main end -->
</div><!-- wrap end -->

</body>
</html>